#page-landing {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.location,
h1,
visit p {
  height: 16vh;
}

/*----------alterando os lados do >>-------------------Container----*/

#container {
  margin: auto;
  width: min(90%, 112rem);


}

/*---------------BOTÃOOO-------------------*/
.visit a {
  width: 8rem;
  height: 8rem;
  background: #ffd666;
  border: none;
  border-radius: 3rem;
  display: flex;
  align-items: center; /* alinhando ao eixo y Vertical */
  justify-content: center; /* alinhando ao eixo X Horizontal */
  margin: 0 auto;
  margin-top: 8rem;
  transition: background 0.2s;
}
/*-----------------x-x---------------x-x--------------*/

/* Tempo de aparição de cada Elemento */

#logo {
  animation-delay: 50ms;
}

.location {
  animation-delay: 100ms;
}

main h1 {
  animation-delay: 150ms;
}

.visit p {
  animation-delay: 200ms;
}

.visit a {
  animation-delay: 250ms;
}

.visit a:hover {
  background: #96feff;
}

@media (min-width: 760px) {
  header {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }
  .location,
  h1,
  visit p {
    height: initial;
    text-align: initial;
  }
}

.location { text-align: right;}


mian h1 { font-size: 8vw;}